DATABASE_URL="mysql://root:admin@localhost:3306/acquy_db"
PORT=8080
ACCESS_TOKEN_SECRET=your_access_token_secret
ACCESS_TOKEN_EXPIRATION=15m
REFRESH_TOKEN_SECRET=your_refresh_token_secret
REFRESH_TOKEN_EXPIRATION=7d
NODE_ENV=development
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret